<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create student</title>
</head>

<body>
  <form method="post" action="/create">
    <input type="text" name="username" id="username" placeholder="username">
    <br />
    <br />
    <input type="password" name="password" id="password" placeholder="password">
    <br />
    <br />
    <input type="email" name="email" , placeholder="email">
    <br />
    <br />
    <button type="submit">submit</button>
  </form>
</body>

</html>